<div id="menu-wrapper">
	<div id="menu">
		<ul>
			<li class="current_page_item"><a routerLink="" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Homepage</a></li>
			<li><a routerLink="about" routerLinkActive="active">About</a></li>
			<li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
		</ul>
	</div>
	<!-- end #menu --> 
</div>
<div id="header-wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">StampALike</a></h1>
			<p>Template design by <a href="http://www.freecsstemplates.org">Premchand</a></p>
		</div>
	</div>
</div>