<h5>User List</h5>
<div class="row">
<table border="1" width="100%" height="5%">
    
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile No.</th>
        <th>Gender</th>
        <th>Education</th>
        <th>Password</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
     <tr *ngFor="let data of dataList;">
         <td>{{data?.id}}</td>
         <td>{{data?.name}}</td>
         <td>{{data?.email}}</td>
         <td>{{data?.geo?.phone}}</td>
         <td>{{data?.id}}</td>
         <td>{{data?.id}}</td>
         <td>
             <a routerLink="../add-user/{{data.id}}">Edit / </a>
            <a (click)="deleteUsers(data.id)">Delete</a>
        </td>
     </tr>
    </tbody>
</table>
</div>
