<div class="card">

<div class="row header">
    <div class="col-md-2">Admin</div>
    <div class="col-md-8"></div>
    <div class="col-md-2">Logout</div>
</div>
<div class="row">
    <div class="col-md-3 nav">
        <ul>
            <li>
                <a class="link">Add User</a>
            </li>
            <li>
                <a class="link">Add User</a>
            </li>
            <li>
                <a class="link">Add User</a>
            </li>
            <li>
                <a class="link">Add User</a>
            </li>
            <li>
                <a class="link">Add User</a>
            </li>
            <li>
                <a class="link">Add User</a>
            </li>
            <li>
                <a class="link">Add User</a>
            </li>
            <li>
                <a class="link">Add User</a>
            </li>
            <li>
                <a class="link">Add User</a>
            </li>
            <li>
                <a class="link">Add User</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9 main-containt">
        <router-outlet></router-outlet>
    </div>
</div>

</div>